<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<h3>Add Product</h3>
<p>
    <a th:href="@{/}">
        Back to product list
    </a>
</p>
<div id="form">
    <form th:action="@{/save}" th:object="${songForm}"
          method="POST" novalidate="novalidate" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Song Name</label>
            <input type="text" th:field="*{songName}"/>
        </div>
        <div>
            <label>Artist Name</label>
            <input type="text" th:field="*{artistName}"/>
        </div>
        <div>
            <label>Kind of Music</label>
            <input type="text" th:field="*{kindOfMusic}"/>
        </div>
        <div>
            <label>Url Song</label>
            <input type="file" th:field="*{urlSong}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>
